:root {
  --salmon: #ff7e6b;
  --black: #0f0f0f;
  --white: #f5f5f5;
  --blue: #1282a2;
  --green: #58b09c;
  --main-font: "League Spartan", sans-serif;
}

.seemorebutton {
  color: var(--salmon);
  cursor: pointer;
}
.seemorebutton:hover {
  color: var(--blue);
}
