* {
  font-family: var(--main-font);
}
.myFavoriteMovies {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
  gap: 2rem;
  max-width: 800px;
  padding-top: 1rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .myFavoriteMovies {
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    max-width: 1500px;
  }
}
