* {
  font-family: var(--main-font);
}
.myFavoriteMovies {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
  gap: 2rem;
  max-width: 800px;
  padding-top: 1rem;
  margin: 0 auto;
}
.myFavoris {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.myFavoris > p {
  font-weight: 600;
  padding: 0.5rem;
}
.myFavoris img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .myFavoriteMovies {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1500px;
  }
}
