.resultContent {
  display: flex;
  margin-top: 4rem;
}

.resultContent > a > img {
  width: 12rem;
  border-radius: 20px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.resultContent > ul {
  margin-top: 1rem;
}

.resultContent > ul > li {
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-size: x-large;
}

.sentenceResult {
  display: flex;
  justify-content: space-between;
}

.separator > ul {
  display: flex;
  justify-content: space-between;
}

.separator > ul > li {
  display: flex;
  margin-top: 1.5rem;
}

.buttonTout {
  all: unset;
  width: 4rem;
  padding: 4px;
  border-radius: 3rem;
  background-color: var(--blue);
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.buttonFilm,
.buttonArtiste {
  all: unset;
  width: 4rem;
  padding: 4px;
  border-radius: 3rem;
  background-color: var(--blue);
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  opacity: 75%;
}

.buttonTout:hover,
.buttonFilm:hover,
.buttonArtiste:hover {
  opacity: 75%;
  border: 0.1rem solid var(--salmon);
}

.buttonFilm:active,
.buttonFilm:focus,
.buttonArtiste:active,
.buttonArtiste:focus {
  background-color: var(--blue);
  opacity: 100%;
}

.buttonTout:active,
.buttonTout:focus {
  opacity: 75%;
}
